@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
body {
      font-family: 'Poppins', sans-serif;
      background-color: #f2f5f8;
      line-height: 1;
      font-size: 13px;
      line-height: 20px;
      overflow-x: hidden;
}
.container {
      position: relative;
      max-width: 1300px;
      width: 100%;
      margin: 0 auto;
      padding: 0px 20px;
}
.app-headline {
      margin: 0;
      padding: 15px 20px;
      font-size: 16px;
      font-weight: 500;
      background: #dcdcdc;
}
.toolbar {
      padding: 20px 0px;
      text-align: center;
}
.toolbar .toolbar {
      padding: 0;
      display: inline-block;
}
.toolbar button {
      border: 1px solid #cecece;
      padding: 5px;
      min-width: 30px;
      min-height: 30px;
      border-radius: 2px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      background: white;
      text-transform: capitalize;
      font-size: 14px;
      font-weight: 600;
      position: relative;
      color: #333;
      margin: 2px;
}
.toolbar button:hover {
      border-color: #4190f2;
}
.editor {
      max-width: 800px;
      margin: 180px auto 20px;
      background-color: #ffffff;
      border: 1px solid #d3d3d3;
      padding: 80px;
      font-size: 16px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      min-height: 800px;
      font-size: 16px;
      color: #000;
}
.editor p {
      margin: 0;
}

.editor table {
      width: 100%;
      border-collapse: collapse;
      border-top: 1px solid black;
}
.editor table tr {
      border: none;
      border-bottom: 1px solid black;
      border-right: 1px solid black;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
}
.editor table tr p {
      padding: 2px;
}
.editor table td p {
      padding: 2px;
      font-weight: 500;
}
.editor table tr:first-child {
      background: #f5f5f5;
      font-weight: bold;
}
.editor table td {
      border: 1px solid black;
      border-top: none;
      border-bottom: none;
      border-right: none;
      flex: 1;
      word-break: break-all;
}

.pos-fixed {
      position: fixed;
      top: 0;
      z-index: 9;
      width: 100%;
      background: #fff;
      box-shadow: 0 0 3px #ccc;
}
.modal {
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgb(0, 0, 0);
      background-color: rgba(0, 0, 0, 0.4);
}
/* Modal Content/Box */
.modal-content {
      background-color: #fefefe;
      margin: 15% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
}
/* The Close Button */
.close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
}

.close:hover,
.close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
}
